/* COMMENTS */

section.container .comment-main-title {
  text-align: center;
  width: 100%;
  color: white;
  position: relative;
  letter-spacing: 1.5px;
  user-select: none;
}

section.container p.showComments {
  text-align: center;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  user-select: none;
  width: 100%;
  font-size: 14px;
  padding: 1rem 0;
}

section.container .comments,
section.container .nested-comments {
  padding: 2rem 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

section.container .nested-comments {
  padding: 2rem 2rem 2rem 5rem;
}

section.container .comments .comment,
section.container .comments .nested-comments {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

section.container .comments .comment > .top,
section.container .comments .nested-comments > .nested-comment > .top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  color: white;
  width: 100%;
  background-color: rgba(245, 222, 179, 0.103);
  padding: 1rem 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

section.container .comments .nested-comments > .nested-comment {
  width: 100%;
}

section.container .comments .comment > .top img,
section.container .comments .nested-comments > .nested-comment > .top img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}

section.container .comments .comment > .top > div > h2,
section.container .comments .comment > .top > div > p,
section.container
  .comments
  .nested-comments
  > .nested-comment
  > .top
  > div
  > h2,
section.container
  .comments
  .nested-comments
  > .nested-comment
  > .top
  > div
  > p {
  font-size: 14px;
}

section.container .comments .comment > .main,
section.container .comments .nested-comments > .nested-comment > .main {
  padding: 1rem;
  color: white;
  letter-spacing: 1px;
}

section.container .comments .comment > .main > p,
section.container .comments .nested-comments > .nested-comment > .main > p {
  font-size: 15px;
  text-align: start;
  padding: 0.5rem 1rem;
  word-break: break-all;
}

section.container .comments .comment > .buttons,
section.container .comments .nested-comments > .nested-comment > .buttons {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
}

section.container .comments .comment > .buttons > i,
section.container .comments .nested-comments > .nested-comment > .buttons > i {
  font-size: 24px;
}

section.container .comments .comment > .buttons-reply {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}

button.editOptionBtn {
  font-size: 20px;
  padding: 0.2rem 0.5rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
}

button.deleteOptionBtn {
  font-size: 14px;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  margin-right: -15px;
}

@media screen and (max-width: 700px) {
  section.container .nested-comments {
    padding: 2rem 0rem 2rem 2rem;
  }
}

@media screen and (max-width: 480px) {
  section.container .comments {
    padding: 0;
  }

  div.addComment-cnt {
    margin: 1rem 0;
  }

  section.container .comments,
  section.container .nested-comments,
  section.container .comments .nested-comments > .nested-comment,
  section.container .comments .comment > .main,
  section.container .comments .nested-comments > .nested-comment > .main {
    width: 100%;
    max-width: 100%;
  }

  section.container .comments .comment > .main > p,
  section.container .comments .nested-comments > .nested-comment > .main > p {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  section.container .nested-comments {
    padding: 2rem 0rem 2rem 1rem;
  }

  button.editOptionBtn {
    font-size: 16px;
  }

  section.container .comments .comment > .buttons-reply {
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 335px) {

  input.commentEditInput {
    width: 60%;
  }

  section.container .comments .comment > .buttons-reply input {
    width: 50%;
  }
}
