/* POSTS */

section.container .posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

section.container .posts .loading-in-cnt {
  color: white;
  letter-spacing: 3px;
}

section.container .posts .post {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 3rem;
  background-color: #28292d;
  border-radius: 1rem;
  width: 100%;
}

section.container .posts .post .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  color: white;
  width: 100%;
  background-color: rgba(245, 222, 179, 0.103);
  padding: 1rem 2.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

section.container .posts .post .profile div > i {
  font-size: 28px;
  cursor: pointer;
}

section.container .posts .post .profile .post-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

section.container .posts .post .profile .post-info > div > h3,
section.container .posts .post .profile .post-info > div > p {
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
}

section.container .posts .post .profile .post-info img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

section.container .posts .post .images {
  width: 100%;
  min-height: 300px;
  max-height: 500px;
  position: relative;
  margin: 0 auto;
}

section.container .posts .post .images > div.images-image {
  width: 100%;
  height: 400px;
  position: relative;
  margin: 0 auto;
}

section.container .posts .post .images img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0 auto 5% auto;
}

section.container .posts .post .images > .sliders {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

section.container .posts .post .images > .sliders > button {
  height: 100%;
  width: 50px;
  background-color: #28292d63;
  color: white;
  font-weight: 600;
  font-size: 24px;
  border: none;
  transition: all 350ms ease-in-out;
  cursor: pointer;
  z-index: 3;
}

section.container .posts .post .images > .sliders > button:nth-child(1) {
  border-bottom-right-radius: 1rem;
}

section.container .posts .post .images > .sliders > button:nth-child(2) {
  border-bottom-left-radius: 1rem;
}
section.container .posts .post .images > .sliders > button:hover {
  background-color: #45f3ff2f;
}

section.container .posts .post > .buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  color: white;
  gap: 3rem;
}

section.container .posts .post .buttons i {
  font-size: 24px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  overflow: hidden;
}

section.container .posts .post .buttons i:hover {
  color: #45f3ff;
}

section.container .posts .post .buttons i:nth-child(1):hover {
  color: red;
}

section.container .posts .post .buttons > i.liked {
  color: red;
}

section.container .posts .post .buttons > i.saved {
  color: #45f3ff;
}

section.container .posts .post > p {
  color: white;
  padding: 2rem 2rem;
  font-size: 16px;
  text-align: start;
  word-break: break-all;
}

@media screen and (max-width: 840px) {
  section.container .posts .post .images {
    min-height: 200px;
    max-height: 500px;
  }

  section.container .posts .post .images img {
    min-height: 200px;
  }
}

@media screen and (max-width: 500px) {
  section.container .posts .post {
    padding: 0.5rem;
  }

  section.container .posts .post .buttons i {
    font-size: 20px;
  }
}

@media screen and (max-width: 415px) {
  section.container .posts {
    width: 100%;
  }

  section.container .posts .post {
    padding: 0.1rem;
    max-width: 100%;
  }
}

@media screen and (max-width: 300px) {
  section.container .posts .post .buttons i {
    font-size: 18px;
  }
}
