.training-post {
  margin: 5% auto;
  width: 75%;
  color: white;
  background-color: #28292d;
  padding: 2rem;
  border-radius: 1rem;
  user-select: none;
  position: relative;
  min-height: 100vh;
}

.training-post .training-post-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background-color: #ffffff18;
  margin-bottom: 1rem;
  position: relative;

  border-radius: 5rem;
  overflow: hidden;

  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.training-post .training-post-profile:hover {
  transform: scale(1.01);
  background-color: #ffffff10;
}

.training-post-visible {
  position: absolute;
  width: 100%;
  overflow: hidden;
  text-align: center;
  bottom: 0;

  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}

.notes-Private-p {
  background-color: red;
}

.notes-Public-p {
  background-color: green;
}

.notes-Friends-p {
  background-color: #34b0b9;
}

.training-post .training-post-profile>img {
  width: 85px;
  height: 85px;
  border-radius: 100%;
  object-fit: cover;
}

.training-post .training-post-profile>div {
  margin-bottom: 1rem;
}

.training-post .training-post-profile>div>h3 {
  word-break: break-all;
}

.training-post>h1 {
  text-align: center;
}

.training-post .training-post-full-image {
  position: fixed;
  width: 70%;
  height: 100%;
  z-index: 50;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.723);
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  top: 0;
}

.training-post .training-post-full-image>span {
  position: absolute;
  right: 0;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.training-post .training-post-full-image>img {
  max-width: 100%;
  max-height: 100%;
  padding: 2rem;
  object-fit: contain;
  margin: 0 auto;
}

.training-post .training-post-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  width: 90%;
  margin-bottom: 2rem;
}

.training-post .training-post-btns>i {
  font-size: 20px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.training-post .training-post-btns>i:hover {
  transform: scale(1.05);
  color: #45f3ff;
}

.training-post .training-post-btns>i:hover {
  color: red;
}

.training-post-category {
  padding: 0.5rem;
  letter-spacing: 1px;
  border-bottom: 2px solid white;
  border-bottom-left-radius: 0.5rem;
}

.training-post .training-post-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.training-post .training-post-main>h2 {
  letter-spacing: 1px;
  border-bottom: 2px solid white;
  border-bottom-left-radius: 0.5rem;
  padding: 0rem 1rem;
}

.training-post .training-post-main>h2>i,
.training-post .training-post-main>p>i {
  cursor: pointer;
}

.training-post .training-post-main>p {
  padding: 0rem 2rem 0rem 2rem;
}

.training-post .training-post-main>p>span {
  font-size: 18px;
}

.training-post .training-post-main .training-post-main-images {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
}

.training-post .training-post-main .training-post-main-images>h2.add-training-image {
  width: 130px;
  text-align: center;
  font-size: 48px;
  padding: 0;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  overflow: hidden;
}

.training-post .training-post-main .training-post-main-images>h2:hover {
  transform: scale(1.1);
}

.training-post .training-post-main img {
  max-width: 130px;
  max-height: 130px;
  object-fit: contain;
  overflow: hidden;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.training-post .training-post-main img:hover {
  transform: scale(1.2);
}

.trainingProgramEditBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}

.trainingProgramEditBtns>button {
  padding: 0 2rem;
  font-size: 14px;
  margin: 0 auto;
}

.trainingProgramEditInput {
  width: 300px;
}

.trainingProgramEditTextArea {
  width: 750px;
  min-height: 100px;
  max-height: 150px;
  max-width: 750px;
  min-width: 200px;
}

.liked {
  color: red;
}

.paymentSpanPrice {
  font-size: 20px;
  color: white;
  background-color: red;
  width: 100%;
  display: inline-block;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 300ms ease-in-out;
}

.paymentSpanPrice:hover {
  transform: scale(1.01);
}

@media screen and (max-width: 1200px) {
  .training-post {
    width: 95%;
  }

  .training-post .training-post-main .training-post-main-images {
    width: 100%;
  }

  .training-post .training-post-full-image {
    width: 90%;
  }

  .trainingProgramEditBtns {
    width: 20%;
  }
}

@media screen and (max-width: 840px) {
  .trainingProgramEditTextArea {
    width: 500px;
    max-width: 500px;
  }

  .trainingProgramEditBtns {
    width: 30%;
  }
}

@media screen and (max-width: 760px) {

  .training-post .training-post-main img,
  .training-post .training-post-main .training-post-main-images>h2.add-training-image {
    width: 100px;
    height: 100%;
  }

  .training-post .training-post-main .training-post-main-images {
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 680px) {
  .training-post {
    width: 100%;
  }

  .trainingProgramEditTextArea {
    width: 350px;
    max-width: 350px;
  }

  .trainingProgramEditBtns {
    width: 45%;
  }

  .training-post .training-post-main>p {
    padding: 0rem 1rem 0rem 1rem;
  }

  .training-post>h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 430px) {
  .training-post .training-post-main .training-post-main-images {
    justify-content: center;
  }

  .training-post .training-post-full-image {
    width: 85%;
  }

  .training-post>h1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  .trainingProgramEditTextArea {
    width: 250px;
    max-width: 250px;
  }

  .trainingProgramEditBtns {
    width: 60%;
  }

  .training-post .training-post-main>p {
    padding: 0rem;
  }

  .trainingProgramEditInput {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .trainingProgramEditTextArea {
    min-width: 100px;
    max-width: 200px;
  }

  .trainingProgramEditBtns {
    width: 100%;
  }
}

@media screen and (max-width: 250px) {
  .trainingProgramEditTextArea {
    min-width: 50px;
    max-width: 150px;
  }
}