i.btn-to-up-in-chat {
  position: absolute;
  color: #45f3ff;
  font-size: 14px;
  right: 2%;
  bottom: 10%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.288);
  padding: 0.5rem 0.6rem;
  border-radius: 100%;
  transition: all 500ms ease-in-out;
  box-shadow: 0px 2px 20px #45f3ff;
  z-index: 2;
  transform: rotate(180deg);
}

i.btn-to-up-in-chat:hover {
  background-color: #45f3ff;
  color: black;
}

i.deleteMsgFromChat {
  cursor: pointer;
}

.chat-body-noMsg-h2 {
  text-align: center;
  color: white;
  user-select: none;
  letter-spacing: 2px;
  opacity: 0.5;
}

.inputBox-uploadImages-chat {
  width: 10%;
  left: 0;
  margin-bottom: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  position: absolute;
}

.inputBox-uploadImages-chat div {
  margin: 0px 0 23% 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputBox-uploadImages-chat > div img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  object-fit: cover;
}

.inputBox-uploadImages-chat > div > input.inputBox-UploadImage-Btn {
  width: 80px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  background-color: #8f8f8f;
}

.inputBox-uploadImages-chat > div > input.inputBox-UploadImage-Btn:hover {
  background-color: #45f3ff;
}

div.Chat .Right-side-chat .ChatBox-container .chat-header {
  width: 100%;
  padding: 1rem;
}

div.Chat .Right-side-chat .ChatBox-container .chat-header .follower {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

div.Chat .Right-side-chat .ChatBox-container .chat-header .follower img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;
  object-fit: cover;
}

div.Chat .Right-side-chat .ChatBox-container .chat-header .follower h2 {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.container-chat div.Chat .Right-side-chat .ChatBox-container .chat-body {
  width: 100%;
  height: 72%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  overflow-y: auto;
}

div.Chat .Right-side-chat .ChatBox-container .chat-body div.message {
  color: whitesmoke;
  padding: 0.7rem;
  border-radius: 1rem 1rem 1rem 0;
  max-width: 80%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0.082);
}

div.Chat
  .Right-side-chat
  .ChatBox-container
  .chat-body
  div.message
  > div.deleteMsgBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

div.Chat
  .Right-side-chat
  .ChatBox-container
  .chat-body
  div.message
  > div.deleteMsgBtns
  > button {
  border-radius: 0.5rem;
  cursor: pointer;
}

div.Chat
  .Right-side-chat
  .ChatBox-container
  .chat-body
  div.message
  > div.timeAndDelete {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

div.Chat
  .Right-side-chat
  .ChatBox-container
  .chat-body
  div.message
  > div.timeAndDelete
  > span {
  font-size: 0.7rem;
  color: white;
}

div.Chat .Right-side-chat .ChatBox-container .chat-body div.message > h2 {
  word-break: break-word;
  font-size: 20px;
}

div.Chat .Right-side-chat .ChatBox-container .chat-body div.message > img {
  min-width: 100px;
  min-height: 100px;
  max-width: 400px;
  max-height: 400px;
  cursor: pointer;
}

div.Chat
  .Right-side-chat
  .ChatBox-container
  .chat-body
  div.own
  > div.timeAndDelete
  > span {
  align-self: end;
}

div.Chat .Right-side-chat .ChatBox-container .chat-body div.own {
  align-self: flex-end;
  border-radius: 1rem 1rem 0 1rem;
}

div.Chat .Right-side-chat .ChatBox-container .chat-sender {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem;
  z-index: 3;
  /* background-color: rgba(0, 0, 0, 0.315); */
}

div.Chat .Right-side-chat .ChatBox-container .chat-sender .plus-image,
div.Chat .Right-side-chat .ChatBox-container .chat-sender .send-button-chat {
  font-size: 24px;
  color: white;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border: none;
  font-weight: 600;
  background-color: rgba(245, 222, 179, 0.103);
}

div.Chat .Right-side-chat .ChatBox-container .chat-sender .plus-image:hover,
div.Chat
  .Right-side-chat
  .ChatBox-container
  .chat-sender
  .send-button-chat:hover {
  transform: scale(1.1);
  background-color: rgba(245, 222, 179, 0.082);
  color: #45f3ff;
}

div.Chat .Right-side-chat .ChatBox-container .chat-sender .react-emoji {
  width: 85%;
  height: 20px;
}

div.Chat
  .Right-side-chat
  .ChatBox-container
  .chat-sender
  .react-emoji
  .react-input-emoji--input {
  max-height: 70px;
}

h4.removedMessage {
  user-select: none;
  cursor: not-allowed;
  opacity: 0.5;
  letter-spacing: 1px;
  font-style: oblique;
}

@media screen and (max-width: 1000px) {
  .inputBox-uploadImages-chat {
    width: 15%;
    margin-bottom: 30%;
  }
}

@media screen and (max-width: 800px) {
  .inputBox-uploadImages-chat {
    width: 16%;
    margin-bottom: 35%;
  }
}

@media screen and (max-width: 700px) {
  .inputBox-uploadImages-chat {
    margin-bottom: 30%;
  }
}

@media screen and (max-width: 550px) {
  .inputBox-uploadImages-chat {
    width: 20%;
    margin-bottom: 40%;
  }
}

@media screen and (max-width: 500px) {
  .react-emoji-picker--wrapper > div > section span {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .react-emoji-picker--wrapper {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .react-emoji-picker--wrapper > div {
    width: 100%;
    max-width: 300px;
  }

  .react-emoji-picker--wrapper > div > section {
    width: 100%;
    max-width: 300px;
  }

  .react-emoji-picker--wrapper > div > section span {
    font-size: 14px;
  }

  .inputBox-uploadImages-chat {
    width: 25%;
    margin-bottom: 50%;
  }
}

@media screen and (max-width: 400px) {
  .react-emoji-picker--wrapper,
  .react-emoji-picker--wrapper > div,
  .react-emoji-picker--wrapper > div > section {
    max-width: 270px;
  }
}

@media screen and (max-width: 370px) {
  .react-emoji-picker--wrapper,
  .react-emoji-picker--wrapper > div,
  .react-emoji-picker--wrapper > div > section {
    max-width: 250px;
  }

  .inputBox-uploadImages-chat {
    width: 30%;
    margin-bottom: 60%;
  }
}

@media screen and (max-width: 350px) {
  .react-emoji-picker--wrapper {
    margin-left: -30%;
  }

  .react-emoji-picker--wrapper,
  .react-emoji-picker--wrapper > div,
  .react-emoji-picker--wrapper > div > section {
    max-width: 260px;
  }
}

@media screen and (max-width: 315px) {
  .react-emoji-picker--wrapper {
    margin-left: -30%;
  }

  .react-emoji-picker--wrapper,
  .react-emoji-picker--wrapper > div,
  .react-emoji-picker--wrapper > div > section {
    max-width: 230px;
  }

  .inputBox-uploadImages-chat {
    margin-bottom: 70%;
  }
}

@media screen and (max-width: 290px) {
  .react-emoji-picker--wrapper,
  .react-emoji-picker--wrapper > div,
  .react-emoji-picker--wrapper > div > section {
    max-width: 200px;
  }

  .inputBox-uploadImages-chat {
    width: 40%;
    margin-bottom: 80%;
  }

  .react-emoji-picker--wrapper {
    margin-left: -50%;
  }

  div.Chat
    .Right-side-chat
    .ChatBox-container
    .chat-body
    div.message
    > div.deleteMsgBtns
    > button {
    font-size: 10px;
  }
}

@media screen and (max-width: 255px) {
  .react-emoji-picker--wrapper {
    margin-left: -60%;
  }

  .react-emoji-picker--wrapper,
  .react-emoji-picker--wrapper > div,
  .react-emoji-picker--wrapper > div > section {
    max-width: 180px;
  }

  .inputBox-uploadImages-chat {
    margin-bottom: 90%;
  }
}
