@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

hr {
  width: 90%;
  border-radius: 100%;
}

section.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: #28292d85; */
  padding: 3rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-top: 15%;
  margin-bottom: 15%;
}