@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

hr {
  width: 90%;
  border-radius: 100%;
}

.loading-in-cnt {
  color: white;
  letter-spacing: 3px;
  text-align: center;
  top: 0;
  height: 100vh;
}

.different-posts-options > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  user-select: none;
  font-size: 18px;
  margin-bottom: 1rem;
}

.different-posts-options > ul > li {
  color: rgba(245, 245, 245, 0.438);
  cursor: pointer;
  letter-spacing: 1px;
}

.different-posts-options > ul > li.active {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 840px) {
  .different-posts-options > ul {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 500px) {
  .different-posts-options > ul {
    font-size: 15px;
  }
}

@media screen and (max-width: 330px) {
  .different-posts-options > ul {
    gap: 0.5rem;
  }
}
