@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

hr {
  width: 90%;
  border-radius: 100%;
}

.loading-in-cnt {
  color: white;
  letter-spacing: 3px;
  text-align: center;
  top: 0;
  height: 100vh;
}

section.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  /* background-color: #28292d85; */
  padding: 3rem;
  border-radius: 1rem;
  margin-top: 15%;
  margin-bottom: 15%;
}

.different-posts-options > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  user-select: none;
  font-size: 18px;
  margin-bottom: 1rem;
}

.different-posts-options > ul > li {
  color: rgba(245, 245, 245, 0.438);
  cursor: pointer;
  letter-spacing: 1px;
}

.different-posts-options > ul > li.active {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 1000px) {
  section.container {
    width: 900px;
    max-width: 900px;
    padding: 1rem;
  }
}

@media screen and (max-width: 910px) {
  section.container {
    width: 800px;
    max-width: 800px;
    margin-top: 20%;
  }
}

@media screen and (max-width: 840px) {
  section.container {
    width: 700px;
    max-width: 700px;
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .different-posts-options > ul {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 720px) {
  section.container {
    max-width: 100%;
    margin-top: 25%;
    margin-bottom: 35%;
    padding: 0;
  }
}

@media screen and (max-width: 610px) {
  section.container {
    margin-top: 30%;
    margin-bottom: 40%;
  }
}

@media screen and (max-width: 555px) {
  section.container {
    margin-top: 35%;
    margin-bottom: 45%;
  }
}

@media screen and (max-width: 500px) {
  .different-posts-options > ul {
    font-size: 15px;
  }
}

@media screen and (max-width: 470px) {
  section.container {
    margin-top: 45%;
    margin-bottom: 60%;
  }
}

@media screen and (max-width: 380px) {
  section.container {
    margin-top: 75%;
  }
}

@media screen and (max-width: 330px) {
  section.container {
    margin-top: 100%;
    margin-bottom: 80%;
  }

  .different-posts-options > ul {
    gap: 0.5rem;
  }
}
